<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" style="text-align: center;">
        <h2>Registro de Metodo de Pago</h2>
        <form [formGroup]="form" (submit)="aceptar()" class="example-form">

            <!--ID-->
            <mat-form-field class="example-full-width" *ngIf="edicion">
                <mat-label>id_MetodoPago</mat-label>
                <input matInput placeholder="Id" formControlName="id_MetodoPago"  [readonly]="true"/>
            </mat-form-field>




            <br />
            <mat-form-field class="example-full-width">
                <mat-label>Tipo de Pago</mat-label>
                <input
                  matInput
                  placeholder="tipo_de_pago"
                  formControlName="tipo_de_pago"
                />
                <mat-error
                  *ngIf="obtenerControlCampo('tipo_de_pago')?.errors?.['required']">
                  El Tipo de pago es obligatorio
                </mat-error>
              </mat-form-field>
            <br />

            <mat-form-field class="example-full-width">
                <mat-label>Titular</mat-label>
                <input
                  matInput
                  placeholder="titular"
                  formControlName="titular"
                />
                <mat-error
                  *ngIf="obtenerControlCampo('titular')?.errors?.['required']">
                  El Titular es obligatorio
                </mat-error>
              </mat-form-field>

            <br />

            <!--BOTONES-->
            <div class="botones">
              <button mat-raised-button color="primary"> <!-- ALTERNATIVA ANGULAR MATERIAL BUTTON mat-raised-button -->
                  Aceptar</button>
              <button mat-raised-button color="warn" routerLink="/components/metodo-pago">
                  Cancelar</button>
              </div>
          
            <p>{{ mensaje }}</p>
        </form>

    </div>
</body>
</html>
